@model IEnumerable<DataAccessLayer.Borrowings>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ApplicationLayout.cshtml";
}

<h1>Index</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RetriveDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubmitDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.SubmitDate == DateTime.MinValue)
            {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RetriveDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueDate)
        </td>
        <td>
            Yet Not Submitted Book
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Book.BookName)
        </td>
        <td>
            @*<a asp-action="Edit" asp-route-id="@item.Id"><i class='far fa-edit m-1' style='font-size:25px'></i></a>
            <a asp-action="Details" asp-route-id="@item.Id"><i class='far fa-list-alt m-1' style='font-size:25px'></i></a>
            <a asp-action="Delete" asp-route-id="@item.Id"><i class='far fa-trash-alt m-1' style='font-size:25px'></i></a>*@
        </td>
    </tr> }
                    else
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.RetriveDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DueDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SubmitDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Student.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Book.BookName)
                            </td>
                            <td>
                                @*<a asp-action="Edit" asp-route-id="@item.Id"><i class='far fa-edit m-1' style='font-size:25px'></i></a>
                                <a asp-action="Details" asp-route-id="@item.Id"><i class='far fa-list-alt m-1' style='font-size:25px'></i></a>
                                <a asp-action="Delete" asp-route-id="@item.Id"><i class='far fa-trash-alt m-1' style='font-size:25px'></i></a>*@
                            </td>
                        </tr>
                    }
                }
    </tbody>
</table>
